/* atoms/Plate */

@mixin PlateRoundness($roundness) {
  .plate {
    border-radius: #{$roundness}rem !important;
    .border {
      border-radius: #{$roundness}rem !important;
    }
  }
}

@mixin PlateBackgroundColor($color) {
  .plate .plane{
    background-color: var(#{$color});
  }
}
@mixin PlateBackgroundOpacity($opacity) {
  .plate .plane{
    opacity: $opacity;
  }
}



/* ----------- PLATE BORDER -------------*/

@mixin PlateBorderTop($width) {
  .plate .border {
    border-top: #{$width}rem solid var(--OnSurface);
  }
}
@mixin PlateBorderBottom($width) {
  .plate .border {
    border-bottom: #{$width}rem solid var(--OnSurface);
  }
}
@mixin PlateBorderLeft($width) {
  .plate .border {
    border-left: #{$width}rem solid var(--OnSurface);
  }
}
@mixin PlateBorderRight($width) {
  .plate .border {
    border-right: #{$width}rem solid var(--OnSurface);
  }
}
@mixin PlateBorder($width) {
  .plate .border {
    border: #{$width}rem solid var(--OnSurface);
  }
}
@mixin PlateBorderColor($color) {
  .plate .border {
    border-color: var(#{$color});
  }
}
@mixin PlateBorderOpacity($opacity) {
  .plate .border {
    opacity: $opacity;
  }
}





@mixin PlateTransition($millisecond) {
  .plate {
    .plane { transition: #{$millisecond}ms};
    .border { transition: #{$millisecond}ms};
  }
}


.plate {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0; left: 0;
  z-index: -10;
}
.plane, .border {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  z-index: -10;
}