/* components/NavBar_Editorial */

#app {
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: center;
  width: 100%;

  #navigation { 
    flex-shrink: unset;
    z-index: 100;
    position: fixed;
    top: 0;
  }
  #router-page { 
    flex-grow: 1;
    z-index: 0;
    width: 100%;
  }
}


:is(.scale--XXL, .scale--XL, .scale--L) {
  --contents-container-width: 1300rem;
  --contents-side-padding: 0;
  --nav-bar-height: 74rem;
  --nav-bar-logo-width: 160rem;
  --nav-bar-search-width: 300rem;
  --nav-bar-header-gap: 36rem;
  --router-link-vstack-nests-gap: 26rem;
  --nav-bar-categories-gap: 20rem;
}
.scale--M {
  --contents-container-width: 100%;
  --contents-side-padding: 40rem;
  --nav-bar-height: 74rem;
  --nav-bar-logo-width: 160rem;
  --nav-bar-search-width: 300rem;
  --nav-bar-header-gap: 36rem;
  --router-link-vstack-nests-gap: 30rem;
}
.scale--S {
  --contents-container-width: 100%;
  --contents-side-padding: 30rem;
  --nav-bar-height: 74rem;
  --nav-bar-logo-width: 140rem;
  --nav-bar-search-width: 160rem;
  --nav-bar-header-gap: 28rem;
  --router-link-vstack-nests-gap: 28rem;
}
:is(.scale--XS, .scale--XXS){
  --contents-container-width: 100%;
  --contents-side-padding: 16rem;
  --nav-bar-height: 0rem;
}


.scale--XXL #app .nav-bar-horizon-links,
.scale--XL #app .nav-bar-horizon-links,
.scale--L #app .nav-bar-horizon-links {
  header { 
    padding: 0;
  }
}
.scale--M #app .nav-bar-horizon-links {
  header { 
    padding: 0 40rem;
  }
}
.scale--S #app .nav-bar-horizon-links {
  header { 
    padding: 0 30rem;
  }
}
.scale--XS #app .nav-bar-horizon-links,
.scale--XXS #app .nav-bar-horizon-links {
  header { 
    padding: 0 26rem;
  }
  .nav-logo, .nav-logo svg {
    width: 100%;
  }
}


#app {
  --nav-bar-bg-color: var(--Surface);
  --nav-bar-stroke-color: var(--OnSurface);
  --nav-bar-accent-color: var(--Primary);
  --nav-bar-on-accent-color: var(--OnPrimary);
}
#app .nav-bar-horizon-links {
  @include PlateBackgroundColor(var(--nav-bar-bg-color));
  color: var(--nav-bar-stroke-color);
  border-bottom-color: var(--nav-bar-stroke-color);
  @include PlateBackgroundOpacity(0);
  @include PlateBorderBottom(2rem solid var(--nav-bar-stroke-color));
  @include PlateBorderOpacity(0.08);
  @include PlateTransition(120ms);
  .nav-logo svg {
    path { fill: var(--nav-bar-stroke-color); }
  }
  .searchbox-mini {
    .icon {
      color: var(--nav-bar-accent-color);
    }
    input {
      border-color: var(--nav-bar-accent-color);
    }
    input:focus-visible {
      background-color: var(--nav-bar-on-accent-color);
      outline: 2px solid var(--nav-bar-accent-color);
    }
  }
}
#app .nav-bar-horizon-links.--scrolled {
  @include PlateBorderBottom(1rem solid var(--nav-bar-stroke-color));
  @include PlateBorderOpacity(0.16);
  @include PlateBackgroundOpacity(1);
  @include Shadow-3(20rem);
}


#app .nav-bar-horizon-links {
  width: 100%;
  height: fit-content;
  padding: 0;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  header {
    z-index: 0;
    display: flex;
    flex-direction: row;
    gap: var(--nav-bar-header-gap);
    width: var(--contents-container-width); 
    height: var(--nav-bar-height);
  }
}


#app .nav-bar-horizon-links header {
  font-size: 0;

  .nav-logo svg {
    width: var(--nav-bar-logo-width);
    height: 100%;
  }

  nav {
    flex-grow: 1;
    height: 100%;
    ul {
      height: 100%;
      display: flex;
      flex-direction: row;
      padding: 0;
      li { list-style: none; }
    }
  }

  .nav-bar-horizon-links-list { 
    gap: var(--router-link-vstack-nests-gap);
  }

  .search-box-wrapper {
    width: var(--nav-bar-search-width);
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

