/** @/template/classes/flexgrid.scss */

@for $i from 1 through 20 {
  ol.flexgrid.--col#{$i} {
    --column-count: #{$i};
  }
}

#app ol.flexgrid {
  display: flex;
  flex-wrap: wrap;

  li {
    width: 100%; height: auto;
    flex-grow: 1;
    flex-shrink: unset;
    flex-basis: calc(100% / calc(var(--column-count) + 1));
  }
}

#app ol.flexgrid.--break-to-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  li {
    height: 100%;
  }
}

#app ol.flexgrid.--break-to-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  li {
    width: 100%;
    flex-shrink: unset;
  }
}


