#app .router-link-vstack-nest {
  display: block;
  position: relative;
  height: 100%;
  
  font-size: 0; 
    // FOR DEFAULT STRINGS FOR BOTS

  .contents {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    align-items: center;
  
    .nav-handle { padding-top: 1rem; }
  }
}


// TYPOGRAPHY --------------------

@for $i from 12 through 16 {
  #app .router-link-vstack-nest.--#{$i}.--major p {
    @extend .typo-body-#{$i}--bold; 
  }
  #app .router-link-vstack-nest.--#{$i}.--sub p {
    padding-top: 3rem;
    @extend .typo-body-#{$i};
  }
}
