/* atoms/Icon */

.icon, .icon * {
  user-select: none !important;
}

@mixin IconColor($color) {
  .icon span {
    color: #{$color};
  }
}

@mixin IconSize($size) {
  .icon {
    width: #{$size}rem;
    height: #{$size}rem;
  }
  .icon span {
    font-size: #{$size}rem;
    font-variation-settings: "opsz" #{$size}, "FILL" 0, "wght" 500, "GRAD" 0;
  }
}
