@for $i from 8 through 20 {
  #app .article-infopack.--#{$i} li{ 
    font-size: #{$i}rem; 
  }
}
.article-infopack {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 1.1em;
  position: relative;

  .info-category {
    @extend .typo-body-12--bold;
  }
  .info-readingtime {
    @extend .typo-body-12;
  }
  .info-date {
    @extend .typo-caption-12;
  }
}


.article-infopack li:not(:first-child)::before {
  content: "•";
  font-family: monospace;
  font-weight: 400;
  position: absolute;
  top: 0.05em; left: -0.8em;
}