/* atoms/Plate */

@mixin PlateRoundness($roundness) {
  .plate {
    border-radius: $roundness !important;
    .border {
      border-radius: $roundness !important;
    }
  }
}

@mixin PlateBackgroundColor($color) {
  z-index: 0;
  position: relative;
  .plate .plane{
    background-color: $color;
  }
}
@mixin PlateBackgroundOpacity($opacity) {
  .plate .plane{
    opacity: $opacity;
  }
}



/* ----------- PLATE BORDER -------------*/

@mixin PlateBorderTop($property) {
  z-index: 0;
  position: relative;
  .plate .border {
    border-top: $property;
  }
}
@mixin PlateBorderBottom($property) {
    z-index: 0;
  position: relative;
  .plate .border {
    border-bottom: $property;
  }
}
@mixin PlateBorderLeft($property) {
  z-index: 0;
  position: relative;
  .plate .border {
    border-left: $property;
  }
}
@mixin PlateBorderRight($property) {
  z-index: 0;
  position: relative;
  .plate .border {
    border-right: $property;
  }
}
@mixin PlateBorder($property) {
    z-index: 0;
  position: relative;
  .plate .border {
    border: $property;
  }
}
@mixin PlateBorderColor($color) {
  .plate .border {
    border-color: $color;
  }
}
@mixin PlateBorderOpacity($opacity) {
  .plate .border {
    opacity: $opacity;
  }
}





@mixin PlateTransition($millisecond) {
  .plate {
    .plane { transition: $millisecond };
    .border { transition: $millisecond };
  }
}


.plate {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0; left: 0;
  z-index: -10;
}
.plane, .border {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  z-index: -10;
}