#app .router-link-vstack-nest.--filled {
  @include PlateTransition(120ms);
  @include PlateBackgroundColor(var(--Primary));
  @include PlateBackgroundOpacity(0);
}
#app .router-link-vstack-nest.--filled .contents {
  color: var(--OnSurface);
  opacity: 0.74;
}


#app .router-link-vstack-nest.--filled.--16 {
  padding-left: 13rem;
  padding-right: 13rem;
}
#app .router-link-vstack-nest.--filled.--14 {
  padding-left: 12rem;
  padding-right: 12rem;
}
#app .router-link-vstack-nest.--filled.--12 {
  padding-left: 11rem;
  padding-right: 11rem;
}


#app .router-link-vstack-nest.router-link-active.--filled 
{
  .contents {
    color: var(--Primary);
    opacity: 1;
  }
}


#app .router-link-vstack-nest.--filled:hover {
  @include PlateBackgroundOpacity(0.13);
  .contents { opacity: 1; }
}
#app .router-link-vstack-nest.--filled:active {
  @include PlateBackgroundOpacity(0.22);
  .contents { opacity: 1; }
}