#app .router-link-vstack-nest.--underlined {
  @include PlateTransition(120ms);
  @include PlateBackgroundOpacity(0);
  @include PlateBorderBottom(3rem solid var(--nav-bar-stroke-color));
  @include PlateBorderOpacity(0);
}
#app .router-link-vstack-nest.--underlined:hover {
  @include PlateBorderOpacity(1);
}


#app .router-link-vstack-nest.--underlined .contents {
  margin: 0 3rem;
  color: inherit;
  opacity: 0.74;
}
#app .router-link-vstack-nest.--underlined:hover .contents {
  opacity: 1;
}

#app .router-link-vstack-nest.--underlined.router-link-active 
{
  @include PlateBorderColor(var(--nav-bar-accent-color));
  @include PlateBorderOpacity(1);
  .contents {
    color: var(--nav-bar-accent-color);
    opacity: 1;
  }
}
