@import "@/assets/font/archivo.css";
@import "@/assets/font/inter.css";
@import "@/assets/font/JetBrainsMono.css";

@import "@/template/styles/typography/_basics.scss";
@import "@/template/styles/typography/_mixins.scss";




@include Header("Archivo", 48, 56, "-",   1, 600, 400, 800);
@include Header("Archivo", 32, 40, "-",   1, 600, 400, 800);
@include Header("Archivo", 28, 36, "-", 0.5, 600, 400, 800);
@include Header("Archivo", 24, 32, "-", 0.5, 600, 400, 800);
@include Header("Archivo", 20, 24, "-",   0, 600, 400, 800);
@include Header("Archivo", 16, 20, "-",   0, 600, 400, 800);
$headerSizes: 48, 32, 28, 24, 20, 16;
@each $size in $headerSizes {
  .typo-header-#{$size} {
    font-variation-settings:
      'wdth' 120;
  }
}



@include Body("Inter", 16, 22, "",   0, 480, 340, 620);
@include Body("Inter", 14, 20, "",   0, 480, 340, 620);
@include Body("Inter", 12, 18, "", 0.5, 480, 340, 620);
@include Body("Inter", 10, 16, "", 0.5, 480, 340, 620);
@include Body("Inter",  8, 12, "", 0.5, 480, 340, 620);
$bodySizes: 16, 14, 12, 10, 8;
@each $size in $bodySizes {
  .typo-body-#{$size} {
    word-wrap:break-word;
    word-break: keep-all;
  }
}



@include Caption("JetBrainsMono", 16, 20, "", 1.5, 400, 200, 700);
@include Caption("JetBrainsMono", 14, 18, "", 1.5, 400, 200, 700);
@include Caption("JetBrainsMono", 12, 16, "",   2, 400, 240, 700);
@include Caption("JetBrainsMono", 10, 14, "",   3, 400, 240, 720);
@include Caption("JetBrainsMono",  8, 12, "",   4, 400, 240, 720);
$captionSizes: 16, 14, 12, 10, 8;
@each $size in $captionSizes {
  .typo-caption-#{$size} {
    // @include noSelect();
    word-wrap:break-word;
    word-break: keep-all;
  }
}



@include Mark("Archivo", 20, 24, "", 6.0, 500, 250, 600, 800);
@include Mark("Archivo", 18, 22, "", 6.0, 500, 260, 610, 810);
@include Mark("Archivo", 16, 20, "", 6.5, 500, 270, 620, 820);
@include Mark("Archivo", 14, 18, "", 7.0, 500, 280, 630, 830);
@include Mark("Archivo", 12, 16, "", 7.5, 500, 290, 640, 840);
@include Mark("Archivo", 10, 14, "", 8.0, 500, 300, 650, 850);
$markSizes: 20, 18, 16, 14, 12, 10;
@each $size in $markSizes {
  .typo-mark-#{$size} {
    font-variation-settings:
      'wdth' 114;
    @include noSelect();
    word-wrap:break-word;
    word-break: break-all;
  }
}


