/* @/configs/ui/_typography.scss */
@import "@/styles/font/archivo.css";
@import "@/styles/font/inter.css";
@import "@/styles/font/JetBrainsMono.css";

@import "@/template/styles/typography/_mixins.scss";



@for $i from 32 through 100 {
  @include Header("Archivo", $i, ($i + 4), "-",   1, 600, 400, 800);
  .typo-header-#{$i}, .typo-header-#{$i}--bold, .typo-header-#{$i}--light {
    font-variation-settings:
      'wdth' 120;
  }
}
@for $i from 24 through 31 {
  @include Header("Archivo", $i, ($i + 4), "-", 0.5, 600, 400, 800);
  .typo-header-#{$i}, .typo-header-#{$i}--bold, .typo-header-#{$i}--light {
    font-variation-settings:
      'wdth' 120;
  }
}
@for $i from 16 through 23 {
  @include Header("Archivo", $i, ($i + 4), "-",   0, 600, 400, 800);
  .typo-header-#{$i}, .typo-header-#{$i}--bold, .typo-header-#{$i}--light {
    font-variation-settings:
      'wdth' 120;
  }
}



@include Body("Inter", 20, 26, "",   0, 480, 340, 620);
@include Body("Inter", 19, 24, "",   0, 480, 340, 620);
@include Body("Inter", 18, 24, "",   0, 480, 340, 620);
@include Body("Inter", 17, 22, "",   0, 480, 340, 620);
@include Body("Inter", 16, 22, "",   0, 480, 340, 620);
@include Body("Inter", 15, 20, "",   0, 480, 340, 620);
@include Body("Inter", 14, 20, "",   0, 480, 340, 620);
@include Body("Inter", 13, 18, "", 0.5, 480, 340, 620);
@include Body("Inter", 12, 18, "", 0.5, 480, 340, 620);
@include Body("Inter", 11, 16, "", 0.5, 480, 340, 620);
@include Body("Inter", 10, 16, "", 0.5, 480, 340, 620);
@include Body("Inter",  9, 12, "", 0.5, 480, 340, 620);
@include Body("Inter",  8, 12, "", 0.5, 480, 340, 620);
$bodySizes: 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8;
@each $size in $bodySizes {
  .typo-body-#{$size}, .typo-body-#{$size}--bold, .typo-body-#{$size}--light {
    word-wrap:break-word;
    word-break: keep-all;
  }
}



@include Caption("JetBrainsMono", 20, 24, "", 1.5, 400, 200, 700);
@include Caption("JetBrainsMono", 19, 22, "", 1.5, 400, 200, 700);
@include Caption("JetBrainsMono", 18, 22, "", 1.5, 400, 200, 700);
@include Caption("JetBrainsMono", 17, 20, "", 1.5, 400, 200, 700);
@include Caption("JetBrainsMono", 16, 20, "", 1.5, 400, 200, 700);
@include Caption("JetBrainsMono", 15, 18, "", 1.5, 400, 200, 700);
@include Caption("JetBrainsMono", 14, 18, "", 1.5, 400, 200, 700);
@include Caption("JetBrainsMono", 13, 16, "",   2, 400, 240, 700);
@include Caption("JetBrainsMono", 12, 16, "",   2, 400, 240, 700);
@include Caption("JetBrainsMono", 11, 14, "",   3, 400, 240, 720);
@include Caption("JetBrainsMono", 10, 14, "",   3, 400, 240, 720);
@include Caption("JetBrainsMono",  9, 12, "",   4, 400, 240, 720);
@include Caption("JetBrainsMono",  8, 12, "",   4, 400, 240, 720);
$captionSizes: 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8;
@each $size in $captionSizes {
  .typo-caption-#{$size}, .typo-caption-#{$size}--bold, .typo-caption-#{$size}--light {
    // @include noSelect();
    word-wrap:break-word;
    word-break: keep-all;
  }
}




@for $i from 10 through 40 {
  @include Mark("Archivo", $i, $i+4, "", 3.0, 500, 270, 620, 820);

  .typo-mark-#{$i}, .typo-mark-#{$i}--bold, .typo-mark-#{$i}--light, .typo-mark-#{$i}--heavy {
    font-variation-settings:
      'wdth' 114;
    @include noSelect();
    word-wrap:break-word;
    word-break: break-all;
  }
}