.searchbox-mini {
  width: 100%;
  height: 40rem;
  position: relative;

  --normal-color: var(--OnSurface);
  --accent-color: var(--Primary);
  --on-accent-color: var(--OnPrimary);
  
  .icon {
    position: absolute;
    color: var(--normal-color);
    padding: 10rem;
  }

  input[type=text] {
    width: 100%;
    height: 100%;
    padding-left: 36rem;

    transition: 140ms;

    color: var(--normal-color);
    @extend .typo-body-14;

    background-color: #ffffff00;
    outline: 2px solid rgba(255, 255, 255, 0);
    border: 2rem solid var(--normal-color);
    border-radius: 0;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--normal-color);
    opacity: 0.6; /* Firefox */
  }
  input[type=text]:focus-visible {
    // color: var(--normal-color) !important;
    background-color: var(--on-accent-color);
    border-color: var(--accent-color) !important;
  }
}