/* @template/components/devStatusBar */

#dev-status-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 200;
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: left;
  gap: 4rem;
  padding: 6rem;

  p {
    flex-shrink: 0;
    z-index: 0;
  }

  #dev-status-bar-draghandle {
    position: absolute;
    top: 4rem;
    right: 4rem;
    z-index: 10;
    cursor: move;
  }
}

.scheme--light #dev-status-bar {
  background-color: rgba(240, 248, 255, 0.66);
  border: solid 1px black;
  color: black;
  @extend .backdrop--blur;
}
.scheme--dark #dev-status-bar {
  background-color: rgba(0, 0, 45, 0.66);
  border: solid 1px white;
  color: white;
  @extend .backdrop--blur;
}