/** @/pages/Home/style.scss */

/** Defined in each NavBar Components :
  --contents-container-width: 1280rem;
  --contents-side-padding: 40rem;
*/

#router-page.home {
  display: flex;
  flex-direction: column;
  width: 100%;

  main {
    display: flex;
    flex-direction: column;
    li { display: block; position: relative;}

    #highlighted-articles {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #all-articles {
      display: flex;
      flex-direction: row;
    }
  }
}


// -------------------------------------------TEST
.home li {
  background-color: aquamarine;
}
