/** @/pages/Home/style.scss */

/** Defined in each NavBar Components :
  --contents-container-width: 1280rem;
  --contents-side-padding: 40rem;
*/


:is(.scale--XXL, .scale--XL, .scale--L) .home #all-articles {
  flex-direction: row;
  --section-gap: 30rem;
  --ad-tower-width: 300rem;
  --top-bottom-paddings: 74rem
}
:is(.scale--M) .home #all-articles {
  flex-direction: row;
  --section-gap: 30rem;
  --ad-tower-width: 160rem;
  --top-bottom-paddings: 68rem
}
:is(.scale--S) .home #all-articles {
  flex-direction: row;
  --section-gap: 30rem;
  --ad-tower-width: 160rem;
  --top-bottom-paddings: 50rem
}
:is(.scale--XXS, .scale--XS) .home #all-articles {
  flex-direction: column;
  --section-gap: 38rem;
  --ad-tower-width: 100%;
  --top-bottom-paddings: 50rem
}


#router-page.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  main {
    display: flex;
    flex-direction: column;
    li { display: block; position: relative;}

    #highlighted-articles {
      padding-top: calc(var(--nav-bar-height) + 20rem);
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #all-articles {
      align-self: center;
      display: flex;
      justify-content: center;
      gap: var(--section-gap);
      width: var(--contents-container-width);
      height: fit-content;
      padding: 
        var(--top-bottom-paddings)
        var(--contents-side-padding);

      #latest-articles-wrapper{
        flex-shrink: 1;
        min-width: 0;
        width: 100%;
      }
    }
  }
}
