/** @/pages/Home/style.scss */

/** Defined in each NavBar Components :
  --contents-container-width: 1280rem;
  --contents-side-padding: 40rem;
*/

#router-page.home {
  display: flex;
  flex-direction: column;
  width: 100%;



  main {
    display: flex;
    flex-direction: column;

    li { display: block; position: relative;}

    #highlighted-articles {
      display: flex;
      flex-direction: column;
      align-items: center;

      #featured-articles, #categegories-and-trending .wrapper {
        width: var(--contents-container-width);
        padding-left: var(--contents-side-padding);
        padding-right: var(--contents-side-padding);
      }
    }
    #all-articles {
      display: flex;
      flex-direction: row;
    }
  }
}


// -------------------------------------------TEST
.home li {
  background-color: aquamarine;
}



.home #highlighted-articles #featured-articles {
  display: grid;
  justify-items: center;
  li {width: 100%; height: 100%;}
  #featured-0 { grid-area: 🍑 ; }
  #featured-1 { grid-area: 🧅 ; }
  #featured-2 { grid-area: 🍠 ; }
  #featured-ad-0 { grid-area: 🙇‍♂️; }
  #featured-ad-1 { grid-area: 👫; }
  #featured-ad-2 { grid-area: 👨‍👦‍👦; }
}
:is(.scale--XXL, .scale--XL, .scale--L, .scale--M) .home #highlighted-articles #featured-articles {
  #featured-ad-1, #featured-ad-2 { display: none; }
  grid-template-areas: 
  "🍑 🍑 🙇‍♂️"
  "🍑 🍑 🙇‍♂️"
  "🧅 🍠 🙇‍♂️"
  "🧅 🍠 🙇‍♂️"
  "🧅 🍠 🙇‍♂️";
  grid-template-columns: 
    1fr 1fr 0fr;
  grid-template-rows: 
    1fr 1fr 1fr 1fr 0fr;
  gap: 30rem;
  padding: 58rem 0 58rem 0;
}
.scale--S .home #highlighted-articles #featured-articles {
  #featured-ad-1, #featured-ad-2 { display: none; }
  grid-template-areas: 
  "🍑 🍑 🙇‍♂️"
  "🧅 🧅 🙇‍♂️"
  "🧅 🧅 🙇‍♂️"
  "🍠 🍠 🙇‍♂️"
  "🍠 🍠 🙇‍♂️";
  grid-template-columns: 
    1fr 1fr 0fr;
  grid-template-rows: 
    3.8fr 1fr 1fr 1fr 1fr;
  gap: 26rem;
  padding: 44rem 0 44rem 0;
}
:is(.scale--XS, .scale--XXS) .home #highlighted-articles #featured-articles {
  #featured-ad-0 { display: none; }
  grid-template-areas: 
  "🍑 🍑 🍑"
  "👫 👫 👫"
  "🧅 🧅 🧅"
  "🍠 🍠 🍠"
  "👨‍👦‍👦 👨‍👦‍👦 👨‍👦‍👦";
  grid-template-columns: 
    1fr 1fr 1fr;
  grid-template-rows: 
    1.34fr 0fr 1fr 1fr 0fr;
  gap: 24rem;
  height: 1080rem;
  padding: 40rem 0 40rem 0;
}





.home #highlighted-articles #categegories-and-trending {
  display: flex;
  justify-content: center;
  background-color: var(--Surface);
  width: 100%;
  li {width: 100%; height: 100%;}

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    h1 { 
      flex-shrink: unset; 
      padding: 0; 
      width: 100%;
    }

    .categories-wrapper {
      display: flex;
      flex-direction: column;
      #article-categories { 
        flex-grow: 1; 
        width: 100%;
        display: grid;
        justify-items: center;
        align-items: center;
      }
    }
    .trending-wrapper {
      display: flex;
      flex-direction: column;
      #trending-articles {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        li { flex-grow: 1; }
      }
    }
  }
}
:is(.scale--XXL, .scale--XL, .scale--L, .scale--M, .scale--S) .home #highlighted-articles #categegories-and-trending .wrapper {
  gap: 30rem;
  height: 800rem;
  padding: 40rem 0 80rem 0;
  h1 { padding-bottom: 22rem; }
  #trending-ad-0 { display: none; }
  .categories-wrapper {
    flex-grow: 1;
    height: 100%;
    #article-categories {
      gap: 30rem;
      grid-template-columns: 
      1fr 1fr 1fr;
      grid-template-rows: 
      1fr 1fr;
    }
  }
  .trending-wrapper { 
    width: 300rem; 
    height: 100%;
    flex-shrink: unset;
    #trending-articles {
      gap: 30rem;
    }
  }
}
.scale--M .home #highlighted-articles #categegories-and-trending .wrapper {
  height: 730rem;
  padding: 36rem 0 74rem 0;
}
.scale--S .home #highlighted-articles #categegories-and-trending .wrapper {
  height: 680rem;
  padding: 30rem 0 60rem 0;
  gap: 26rem;
  h1 { padding-bottom: 20rem; }
  .categories-wrapper {
    #article-categories {
      gap: 8rem;
      grid-template-columns: 
      1fr 1fr;
      grid-template-rows: 
      1fr 1fr 1fr;
    }
  }
  .trending-wrapper {
    #trending-articles {
      gap: 8rem;
    }
  }
}
.scale--XS .home #highlighted-articles #categegories-and-trending .wrapper {
  flex-direction: column;
  height: 1400rem;
  padding: 40rem 0 60rem 0;
  gap: 40rem;
  h1 { padding-bottom: 20rem; }
  .categories-wrapper {
    width: 100%;
    padding: 0 26rem 0 26rem;
    flex-grow: 1.8;
    #article-categories {
      gap: 8rem;
      grid-template-columns: 
      1fr 1fr;
      grid-template-rows: 
      1fr 1fr 1fr;
    }
  }
  .trending-wrapper { 
    width: 100%; 
    padding: 0 26rem 0 26rem;
    flex-grow: 1; 
    #trending-articles {
      gap: 20rem;
    }
  }
}



