/** OVERRIDE - ArticleCategoryCard */

html :is(.scale--XXL) 
#app .article-category-card {
  // h1 { @extend .typo-header-24--bold; }
}
html :is(.scale--XL) 
#app .article-category-card {
  // h1 { @extend .typo-header-24--bold; }
}
html :is(.scale--L) 
#app .article-category-card {
  // h1 { @extend .typo-header-24--bold; }
}
html :is(.scale--M) 
#app .article-category-card {
  // h1 { @extend .typo-header-24--bold; }
}
html :is(.scale--S) 
#app .article-category-card {
  // h1 { @extend .typo-header-24--bold; }
}
html :is(.scale--XS) 
#app .article-category-card {
  // h1 { @extend .typo-header-24--bold; }
}
html :is(.scale--XXS) 
#app .article-category-card {
  // h1 { @extend .typo-header-24--bold; }
}

html :is(.scale--XXL) .article-category-card {
  // border-radius: 30rem;
  // overflow: hidden;
}
html :is(.scale--XL) .article-category-card {
  // border-radius: 30rem;
  // overflow: hidden;
}
html :is(.scale--L) .article-category-card {
  // border-radius: 30rem;
  // overflow: hidden;
}
html :is(.scale--M) .article-category-card {
  // border-radius: 30rem;
  // overflow: hidden;
}
html :is(.scale--S) .article-category-card {
  // border-radius: 30rem;
  // overflow: hidden;
}
html :is(.scale--XS) .article-category-card {
  // border-radius: 30rem;
  // overflow: hidden;
}
html :is(.scale--XXS) .article-category-card {
  // border-radius: 30rem;
  // overflow: hidden;
}
