/* OVERRIDE - Toaster */

html :is(.scale--XXL, .scale--XL, .scale--L) #app #toaster {
  // --container-margin: 20rem;
  // --toast-width: 300rem;
}
html :is(.scale--M) #app #toaster {
  // --container-margin: 20rem;
  // --toast-width: 300rem;
}
html :is(.scale--S) #app #toaster {
  // --container-margin: 20rem;
  // --toast-width: 300rem;
}
html :is(.scale--XS, .scale--XXS) #app #toaster {
  // --container-margin: 20rem;
  // --toast-width: calc(100vw - 40rem);
}


// DEFINED IN Toast.vue -------
// --text-color
// --bg-color

html #app .toast {
  // color: var(--text-color);
  // @include PlateBackgroundColor(var(--bg-color));
  // @include PlateBorder(2rem solid var(--Ink));
  // @include PlateBorderOpacity(0.14);
  // > * { opacity: 0.84; }
  // @extend .backdrop--blur;
  // filter: saturate(0.84);
  // transition: 300ms;
  // @include PlateTransition(400ms);
}
html #app .toast:hover {
  // > * { opacity: 1; }
  // filter: saturate(1);
}

// Border Radius -------
html #app .toast {
  // overflow: hidden;
  // border-radius: 8rem;
  // @include PlateRoundness(8rem);

}

// ---------------- TRANSITION

html #app .toaster-move {
  // transition: opacity 300ms ease, transform 600ms ease;
}
html #app .toaster-enter-active{
  // transition: opacity 300ms ease, transform 300ms ease;
}
html #app .toaster-leave-active {
  // transition: opacity 300ms ease, transform 3000ms ease;
  // position: absolute;
}

html #app .toaster-enter-from,
html #app .toaster-leave-to {
  // opacity: 0;
  // transform: translateY(-10rem);
}

html #app .toaster-enter-to,
html #app .toaster-leave-from {
  // opacity: 1;
  // transform: translateY(0rem);
}
