:is(.scale--XXL) #markdown-blogarticle {
  --headspace-height: 300rem;
}
:is(.scale--XL) #markdown-blogarticle {
  --headspace-height: 300rem;
}
:is(.scale--L) #markdown-blogarticle {
  --headspace-height: 300rem;
}
:is(.scale--M) #markdown-blogarticle {
  --headspace-height: 300rem;
}
:is(.scale--S) #markdown-blogarticle {
  --headspace-height: 300rem;
}
:is(.scale--XS) #markdown-blogarticle {
  --headspace-height: 300rem;
}
:is(.scale--XXS) #markdown-blogarticle {
  --headspace-height: 300rem;
}

// DEFINED IN COMPONENT :
  --accent-color



#markdown-blogarticle {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

#markdown-blogarticle 
.headspace {
  width: 100%;
  height: var(--headspace-height);
  padding: 
    var(--nav-bar-height)
    var(--contents-side-padding)
    0
    var(--contents-side-padding);

  
}







