/* #/components/Toaster/style.scss */

:is(.scale--XXL, .scale--XL, .scale--L) #toaster {
  --container-margin: 20rem;
  --toast-width: 300rem;
}
:is(.scale--M) #toaster {
  --container-margin: 20rem;
  --toast-width: 300rem;
}
:is(.scale--S) #toaster {
  --container-margin: 20rem;
  --toast-width: 300rem;
}
:is(.scale--XS, .scale--XXS) #toaster {
  --container-margin: 20rem;
  --toast-width: calc(100vw - 40rem);
}


#toaster {
  width: fit-content;
  height: fit-content;
  padding-top: var(--nav-bar-height);
  margin: var(--container-margin);
  // background-color: red;
  position: fixed;
  top: 0; right: 0;
  z-index: 200;
  
  pointer-events: none;
  user-select: none;
  * {
    pointer-events: all;
    user-select: text;
  }
  
  ul.toasts {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 8rem;
  }
}



#toaster .toast {
  width: var(--toast-width);
  height: fit-content;
  gap: 8rem;
  padding: 10rem 12rem;

  display: flex;
  flex-direction: row;
  align-items: center;

  > * {
    flex-shrink: 0;
    color: inherit;
  }
  .message {
    flex-grow: 1;
    padding-bottom: 2rem;
  }
}

// DEFINED IN Toast.vue -------
// --text-color
// --bg-color

.toast {
  color: var(--text-color);
  @include PlateBackgroundColor(var(--bg-color));
  @include PlateBorder(2rem solid var(--Ink));
  @include PlateBorderOpacity(0.14);
  > * { opacity: 0.84; }
  @extend .backdrop--blur;
  filter: saturate(0.84);
  transition: 300ms;
  @include PlateTransition(400ms);
}
.toast:hover {
  > * { opacity: 1; }
  filter: saturate(1);
}

// Border Radius -------
.toast {
  overflow: hidden;
  border-radius: 8rem;
  @include PlateRoundness(8rem);

}

// ---------------- TRANSITION

.toaster-move {
  transition: opacity 300ms ease, transform 600ms ease;
}
.toaster-enter-active{
  transition: opacity 300ms ease, transform 300ms ease;
}
.toaster-leave-active {
  transition: opacity 300ms ease, transform 3000ms ease;
  position: absolute;
}

.toaster-enter-from,
.toaster-leave-to {
  opacity: 0;
  transform: translateY(-10rem);
}

.toaster-enter-to,
.toaster-leave-from {
  opacity: 1;
  transform: translateY(0rem);
}

