
@font-face {
  font-family: "Inter";
  src: url('./Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
}

@font-face {
  font-family: "Inter 340";
  font-weight: 340;
  src: url('./Inter/Inter-VariableFont_slnt,wght.ttf');
}

@font-face {
  font-family: "Inter 620";
  font-weight: 620;
  src: url('./Inter/Inter-VariableFont_slnt,wght.ttf');
}