/** @/pages/Search/style.scss */

:is(.scale--XXL, .scale--XL, .scale--L, .scale--M) #router-page.search {
  --input-font-size: 84rem;
  --input-font-size-scrolled: 32rem;
}
:is(.scale--S) #router-page.search {
  --input-font-size: 68rem;
  --input-font-size-scrolled: 28rem;
}
:is(.scale--XS, .scale--XXS) #router-page.search {
  --input-font-size: 36rem;
  --input-font-size-scrolled: 20rem;
}


#router-page.search #fronthead {
  transition: 220ms;
  font-size: var(--input-font-size);
  color: var(--SurfaceVariant);
  border-color: var(--SurfaceVariant);
  @include PlateBackgroundColor(var(--OnSurfaceVariant));
  @include PlateBorderBottom(2rem solid var(--OnSurface));
  @include PlateBorderOpacity(0.04);
}
#router-page.search #fronthead.--scrolled {
  font-size: var(--input-font-size-scrolled);
  @include Shadow-3(20rem);
}


.page--search #app .nav-bar-horizon-links {
  --nav-bar-bg-color: var(--OnSurfaceVariant);
  --nav-bar-stroke-color: var(--SurfaceVariant);
  --nav-bar-accent-color: var(--OnPrimary);
  @include PlateBorderBottom(2rem solid);
  @include PlateBorderOpacity(0.075);
  @include PlateBackgroundOpacity(0);
  color: var(--SurfaceVariant);

  .nav-logo svg {
    path { fill: var(--SurfaceVariant); }
  }
}

.page--search #app .ad-tower li > * {
  top: calc(var(--nav-bar-height) + var(--wrapper-gap) + calc(var(--input-font-size) * 1.24));
}


#router-page.search {
  display: flex;
  flex-direction: column;

  main {
    display: flex;
    flex-direction: column;

    section#fronthead {
      width: 100%;
      height: fit-content;
      padding-top: var(--nav-bar-height);
      position: sticky;
      top: 0;
      z-index: 10;
      
      // background-color: var(--PrimaryContainer);

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-content: center;
      align-items: center;
    }

    .zero-results {
      width: 100%;
      flex-grow: 1;
      height: 60vh;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      
      @extend .typo-header-98;
      font-size: 8vw;
      text-align: center;
      color: var(--OnBackground);
      opacity: 0.16;

      user-select: none;
    }

    section#results {
      width: 100%;
      height: fit-content;
      position: relative;
      z-index: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

#router-page.search #fronthead 
form#search-billboard-form {
  width: var(--contents-container-width);
  height: fit-content;
  padding: 0 var(--contents-side-padding);
  margin: 0.48em 0;

  display: flex;
  flex-direction: column;
  gap: 8rem;

  .head-text {
    @extend .typo-mark-14;
    @extend .--caps;
  }

  input[type=text] {
    @extend .typo-header-68;
    color: inherit;
    font-size: inherit;
    background-color: #ffffff00;
    border: none;
    border-bottom: 3rem solid;
    border-color: inherit;
  }
}


// ============ LOGO
#router-page.search #fronthead {
  position: relative;
  overflow: hidden;

  .brand-logo {
    position: absolute;
    opacity: 0.12;
  }
}
