/* components/NavBar_Editorial */

#nav-bar-editorial {
  position: absolute;
  width: 100%;
  height: var(--nav-bar-height);
  padding: 0;
  
  display: flex;
  flex-direction: row;
  justify-content: center;

  header {
    z-index: 0;
    display: flex;
    flex-direction: row;
    gap: var(--nav-bar-header-gap);
    height: 100%
  }

  @include PlateBackgroundColor(--Surface);
  @include PlateBackgroundOpacity(1);
}

#nav-bar-editorial header {
  font-size: 0;

  .nav-logo svg {
    width: 160rem;
    height: 100%;
    path { fill: var(--OnBackground); }
  }

  nav {
    flex-grow: 1;
    height: 100%;
    ul {
      height: 100%;
      display: flex;
      flex-direction: row;
      padding: 0;
      li { list-style: none; }
    }
  }

  #nav-links { gap: var(--nav-bar-links-gap);}
  #nav-categories { gap: var(--nav-bar-categories-gap);}

  .search-box {
    width: var(--nav-bar-search-width);
    height: 100%;

    // FOR TEST
    font-size: 16rem;
  }
}



.scale--XXL #nav-bar-editorial,
.scale--XL #nav-bar-editorial,
.scale--L #nav-bar-editorial {

  --nav-bar-height: 74rem;
  --nav-bar-search-width: 300rem;
  --nav-bar-header-gap: 36rem;
  --nav-bar-links-gap: 26rem;
  --nav-bar-categories-gap: 20rem;
  header { 
    width: 1280rem; 
  }
}



.scale--M #nav-bar-editorial {

  padding: 0 40rem;
  --nav-bar-height: 74rem;
  --nav-bar-search-width: 300rem;
  --nav-bar-header-gap: 36rem;
  --nav-bar-links-gap: 30rem;
  header { 
    width: 100%
  }
}



.scale--S #nav-bar-editorial {

  padding: 0 30rem;
  --nav-bar-height: 74rem;
  --nav-bar-search-width: 220rem;
  --nav-bar-header-gap: 28rem;
  --nav-bar-links-gap: 28rem;
  header { 
    width: 100%
  }
}


.scale--XS #nav-bar-editorial,
.scale--XXS #nav-bar-editorial {

  padding: 0 26rem;
  --nav-bar-height: 40rem;
  header { 
    width: 100%
  }
  .nav-logo, .nav-logo svg {
    width: 100%;
  }
}