/* @/template/styles/layout/_editorial.scss */

// =========================
// ========= LAYOUT OVERVIEW
.layout--editorial #app {
  display: flex;
  flex-direction: column;
  height: fit-content;

  #navigation { 
    flex-shrink: unset;
    z-index: 100;
  }
  #router-page { 
    flex-grow: 1;
    z-index: 0;
    // padding-top: var(--nav-bar-height);
    // padding-bottom: var(--nav-bar-height);
  }
  #dev-status-bar { 
    flex-shrink: unset; 
    z-index: 0;
  }
}

