/** OVERRIDE - AdTower */

html :is(.scale--XXL, .scale--XL, .scale--L) #app 
.ad-tower {
  // --wrapper-gap: 36rem;
  --roundness: 0;
}
html :is(.scale--M) #app 
.ad-tower {
  // --wrapper-gap: 32rem;
  --roundness: 0;
}
html :is(.scale--S) #app 
.ad-tower {
  // --wrapper-gap: 30rem;
  --roundness: 0;
}
html :is(.scale--XS, .scale--XXS) #app 
.ad-tower {
  // --wrapper-gap: 24rem;
  --roundness: 0;
}

html #app .ad-tower {
  ul.wrapper {
    li > * {
      // position: sticky;
      // top: calc(var(--nav-bar-height) + var(--wrapper-gap));
      border-radius: var(--roundness);
      overflow: hidden;
    }
  }
}