/** OVERRIDE - ArticleCard_A */

html :is(.scale--XXL, .scale--XL, .scale--L) .article-card-a{
  // --article-card-flex-dir: row;
  // --article-card-height: 220rem;
  // --image-box-width: 240rem;
  // --image-box-height: 100%;
  // --text-box-padding: 18rem 28rem 18rem 20rem;
  // --title-line-clamp: 3;
  // --title-max-height: 4.5em;
  // --description-line-clamp: 2;
  // --description-max-height: 3.0em;
  // h1.title { @extend .typo-header-24; }
  // p.description { @extend .typo-body-14; }
}
html :is(.scale--M) .article-card-a{
  // --article-card-flex-dir: row;
  // --article-card-height: 188rem;
  // --image-box-width: 194rem;
  // --image-box-height: 100%;
  // --text-box-padding: 14rem 26rem 14rem 18rem;
  // --title-line-clamp: 3;
  // --title-max-height: 4.5em;
  // --description-line-clamp: 2;
  // --description-max-height: 3em;
  // h1.title { @extend .typo-header-24; }
  // p.description { @extend .typo-body-14; }
  
}
html :is(.scale--S) .article-card-a{
  // --article-card-flex-dir: row;
  // --article-card-height: 174rem;
  // --image-box-width: 100rem;
  // --image-box-height: 100%;
  // --text-box-padding: 14rem 26rem 14rem 18rem;
  // --title-line-clamp: 3;
  // --title-max-height: 4.5em;
  // --description-line-clamp: 2;
  // --description-max-height: 3em;
  // h1.title { @extend .typo-header-22; }
  // p.description { @extend .typo-body-13; }
}
html :is(.scale--XS, .scale--XXS) .article-card-a{
  // --article-card-flex-dir: column;
  // --article-card-height: 352rem;
  // --image-box-width: 100%;
  // --image-box-height: 140rem;
  // --text-box-padding: 16rem 26rem 16rem 20rem;
  // --title-line-clamp: 4;
  // --title-max-height: 6em;
  // --description-line-clamp: 2;
  // --description-max-height: 3.0em;
  // h1.title { @extend .typo-header-22; }
  // p.description { @extend .typo-body-14; }
}


html :is(.scale--XXL) .article-card-a {
  // border-radius: 30rem;
  // overflow: hidden;
}
html :is(.scale--XL) .article-card-a {
  // border-radius: 30rem;
  // overflow: hidden;
}
html :is(.scale--L) .article-card-a {
  // border-radius: 30rem;
  // overflow: hidden;
}
html :is(.scale--M) .article-card-a {
  // border-radius: 30rem;
  // overflow: hidden;
}
html :is(.scale--S) .article-card-a {
  // border-radius: 30rem;
  // overflow: hidden;
}
html :is(.scale--XS) .article-card-a {
  // border-radius: 30rem;
  // overflow: hidden;
}
html :is(.scale--XXS) .article-card-a {
  // border-radius: 30rem;
  // overflow: hidden;
}
