/** @/template/components/ArticleCard_A/_style.scss */

:is(.scale--XXL, .scale--XL, .scale--L) .article-card-trending-a{
  --container-height: auto;
  
}
:is(.scale--M) .article-card-trending-a{
  --container-height: auto;
  
}
:is(.scale--S) .article-card-trending-a{
  --container-height: auto;
  
}
:is(.scale--XS, .scale--XXS) .article-card-trending-a{
  --container-height: 226rem;
}


:is(.scale--XXL) .article-card-trending-a {
  // border-radius: 30rem;
  // overflow: hidden;
}
:is(.scale--XL) .article-card-trending-a {
  // border-radius: 30rem;
  // overflow: hidden;
}
:is(.scale--L) .article-card-trending-a {
  // border-radius: 30rem;
  // overflow: hidden;
}
:is(.scale--M) .article-card-trending-a {
  // border-radius: 30rem;
  // overflow: hidden;
}
:is(.scale--S) .article-card-trending-a {
  // border-radius: 30rem;
  // overflow: hidden;
}
:is(.scale--XS) .article-card-trending-a {
  // border-radius: 30rem;
  // overflow: hidden;
}
:is(.scale--XXS) .article-card-trending-a {
  // border-radius: 30rem;
  // overflow: hidden;
}


.article-card-trending-a {
  width: 100%;
  aspect-ratio: 300 / 216;
  height: var(--container-height);

  display: flex;
  flex-direction: column;
  transition: 200ms;

  .imagebox {
    width: 100%;
    height: 34%;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .trending-index {
      position: absolute;
      left: 0; bottom: 0;
      padding: 4rem 9rem 4rem 7rem;
      @extend .typo-header-32--bold;
    }
  }

  .textbox {
    flex-grow: 1;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 6rem;
    padding: 14rem;

    > * { width: 100%; }

    h1.title { 
      flex-shrink: 0;
      @extend .typo-header-18;
      padding: 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      max-height: 6em;
      overflow:hidden;
    }

    .article-infopack {
      flex-grow: 1;
      flex-shrink: 0;
      align-items: flex-end;
    }
  }

}



.article-card-trending-a {
  color: var(--OnSurface);
  .trending-index { 
    color: var(--OnPrimary);
    background-color: var(--Primary);
  }
  background-color: var(--Surface);
  @include PlateBackgroundColor(var(--OnSurface));
  @include PlateBackgroundOpacity(0.09);
  @include PlateTransition(200ms);
}

.article-card-trending-a:hover {
  color: var(--OnPrimaryContainer);
  @include Shadow-2(10rem);
  @include PlateBackgroundColor(var(--PrimaryContainer));
  @include PlateBackgroundOpacity(0.28);
  transform: scale(1.01);
}














