/* atoms/Icon */

.icon, .icon * {
  user-select: none !important;
  -webkit-user-select: none !important;
}

@mixin IconColor($color) {
  .icon span {
    color: #{$color};
  }
  .icon-svg .vector svg path {
    fill: #{$color};
  }
}

@mixin IconSize($size) {
  .icon, .icon-svg, .icon-svg svg {
    width: #{$size}rem;
    height: #{$size}rem;
  }
  .icon span {
    font-size: #{$size}rem;
    font-variation-settings: "opsz" #{$size}, "FILL" 0, "wght" 500, "GRAD" 0;
  }
}
