/* @/template/styles/frame/_basics.scss */

html {
  height: 100%;
  width: 100vw;
  padding: 0; margin: 0;
}

html * {
  // DISABLE MOBILE TAB HIGHLIGHTS
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  
  box-sizing: border-box; /* 오페라(Opera) */
  -moz-box-sizing: border-box; /* 파이어폭스(Firefox)*/
  -webkit-box-sizing: border-box; /* 웹킷(Webkit) & 크롬(Chrome) */
}

body, #app {
  width: 100vw;
  padding: 0; margin: 0;
}

ol {
  padding: 0;
  margin: 0;
}
li {
  margin:0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}