/* @/configs/ui/_colors.scss */

.theme--default-light {
  
  --Primary: #ff622e;
  --Secondary: #005e4e;
  --Surface: #ffffff;
  --OnSurface: #2d2d2d;
  --Background: #f0f0f0;
  --OnBackground: #161616;
  --Error: #df1125;
  --Warning: #e6b644;
  --Positive: #5ebc62;

  --Shadow-1: rgba(0, 0, 0, 0.04);
  --Shadow-2: rgba(0, 0, 0, 0.08);
  --Shadow-3: rgba(0, 0, 0, 0.12);
  --Shadow-4: rgba(0, 0, 0, 0.16);
}

.theme--default-dark {
  
  --Primary: #ff622e;
  --Secondary: #005e4e;
  --Surface: #ffffff;
  --OnSurface: #2d2d2d;
  --Background: #f0f0f0;
  --OnBackground: #161616;
  --Error: #df1125;
  --Warning: #e6b644;
  --Positive: #5ebc62;


  --Shadow-1: rgba(0, 0, 0, 0.04);
  --Shadow-2: rgba(0, 0, 0, 0.08);
  --Shadow-3: rgba(0, 0, 0, 0.12);
  --Shadow-4: rgba(0, 0, 0, 0.16);
}


body {
  // background-color: var(--Background);
  color: var(--OnSurface);
}
a {
  color: inherit;
}