#app .nav-bar-link.--filled {
  @include PlateTransition(120);
  @include PlateBackgroundColor(--Primary);
  @include PlateBackgroundOpacity(0);
}
#app .nav-bar-link.--filled .contents {
  color: var(--OnSurface);
  opacity: 0.74;
}


#app .nav-bar-link.--filled.--16 {
  padding-left: 13rem;
  padding-right: 13rem;
}
#app .nav-bar-link.--filled.--14 {
  padding-left: 12rem;
  padding-right: 12rem;
}
#app .nav-bar-link.--filled.--12 {
  padding-left: 11rem;
  padding-right: 11rem;
}


#app .nav-bar-link.router-link-active.--filled 
{
  .contents {
    color: var(--Primary);
    opacity: 1;
  }
}


#app .nav-bar-link.--filled:hover {
  @include PlateBackgroundOpacity(0.13);
  .contents { opacity: 1; }
}
#app .nav-bar-link.--filled:active {
  @include PlateBackgroundOpacity(0.22);
  .contents { opacity: 1; }
}