// SUB LINKS --------------------
#app .nav-sub-links-list {
  display: flex;
  li {
    z-index: 0;
  }
  @include PlateBackgroundColor(--Surface);
  @include PlateBorderOpacity(1);
}

#app .nav-sub-links-list.--expanded {
  position: relative;
  flex-direction: row;
  gap: 10rem;
}

#app .nav-sub-links-list.--shrinked {
  position: absolute;
  flex-direction: column;
  height: fit-content;
  --nav-links-list-offset: 12rem;
  transform: translate(calc(var(--nav-links-list-offset) * (-1)), 0);
}
#app .nav-sub-links-list.--shrinked li {
  z-index: 0;
  height: 52rem;
  p { 
    font-size: 14rem !important; 
    padding-left: var(--nav-links-list-offset);
    padding-right: 24rem;
  }
}

.nav-sub-links-enter-active,
.nav-sub-links-leave-active {
  transition: opacity 0.23s ease;
}

.nav-sub-links-enter-from,
.nav-sub-links-leave-to {
  opacity: 0;
}