#app .nav-bar-link.--underlined {
  @include PlateTransition(120);

  @include PlateBackgroundOpacity(0);

  @include PlateBorderBottom(2);
  @include PlateBorderColor(--OnSurface);
  @include PlateBorderOpacity(0);
}
#app .nav-bar-link.--underlined:hover {
  @include PlateBorderOpacity(1);
}


#app .nav-bar-link.--underlined .contents {
  margin: 0 3rem;
  color: var(--OnSurface);
  opacity: 0.74;
}
#app .nav-bar-link.--underlined:hover .contents {
  opacity: 1;
}

#app .nav-bar-link.--underlined.router-link-active 
{
  @include PlateBorderColor(--Primary);
  @include PlateBorderOpacity(1);
  .contents {
    color: var(--Primary);
    opacity: 1;
  }
}
